h3,
h4 {
  padding: 0;
  margin: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 4rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  z-index: 9999;
}

.logo-container {
  /* position: relative; */
  height: 80%;
  width: max-content;
  margin-left: 1rem;
}

.logo {
  /* position: relative; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.nav-items ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-right: 2rem;
  color: black;
  font-size: 1rem;
}

.nav-items ul li {
  margin-right: 1rem;
  cursor: pointer;
  transition: border-bottom 0.3s ease-in-out;
}

.nav-items ul li:hover {
  border-bottom: 1px solid black;
  transition: border-bottom 0.3s ease-in-out;
}

body {
  background-color: #f0f0f0;
}

.body,
.res-menu-body,
.shimmer-body {
  margin-top: 5rem;
  position: relative;
}

.res-container,
.shimmer-container {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.res-card {
  position: relative;
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  margin-right: 1.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.shimmer-card {
  position: relative;
  background-color: #f0f0f0;
  transition: none;
  width: 200px;
  height: 300px;
  margin-right: 1.5rem;
  margin-bottom: 1rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.shimmer-image-holder {
  position: relative;
  background-color: #bbb;
  width: 100%;
  height: 60%;
  border-radius: 15px;
  margin-bottom: 0.5rem;
  background: linear-gradient(to right, #dfdede, #aba9a9, #dfdede);
  background-size: 200% 100%;
  animation: shimmer 2s infinite;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0; /* Initial position */
  }
  100% {
    background-position: -200% 0; /* Final position */
  }
}

.shimmer-bar-1,
.shimmer-bar-2 {
  width: 100px;
  height: 20px;
  background-color: #bbb;
  border-radius: 15px;
  margin-bottom: 0.5rem;
  background: linear-gradient(to right, #dfdede, #aba9a9, #dfdede);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}

.shimmer-bar-2 {
  width: 50px;
}

.res-card:hover {
  transform: scale(0.95);
}

.res-card .img-container {
  width: 95%;
  height: 60%;
  border-radius: 15px;
}

.res-card .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.res-info-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-left: 0.5rem;
  margin-top: 1rem;
}

.res-info-container h3 {
  color: #42444a;
}

.res-info-container h4 {
  color: #42444a;
  font-weight: lighter;
}

.res-info-container > h4:nth-child(2) {
  margin-bottom: 0.5rem;
  word-wrap: none;
}

.filter {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.search {
  margin-right: 3rem;
}

.search input {
  border-radius: 5px;
  padding: 0.5rem;
  margin-right: 0.5rem;
  border: 1px solid gray;
  outline: none;
}

.search button {
  padding: 0.5rem;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  background-color: rgb(58, 58, 182);
  color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: transform 0.3s ease-in-out;
}

.search > button:hover {
  transform: scale(1.1);
}

.filter .filter-btn {
  padding: 0.5rem;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  background-color: rgb(58, 58, 182);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: transform 0.3s ease-in-out;
  color: white;
}

.filter-btn:hover {
  transform: scale(1.1);
}

.res-menu-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  width: 60%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.res-menu-body .res-name-heading {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  margin-bottom: 8px;
}

.res-menu-body .res-name-heading h2 {
  font-family: Helvetica;
}

.res-details {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  border: 1px solid #f0f0f0;
  border-radius: 15px;
  justify-content: start;
  padding: 1rem;
  background-color: white;
  box-shadow: 2px 2px 14px 11px rgba(237, 232, 237, 1);
}

.res-ratings-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}

.res-ratings-details > span {
  margin-right: 0.5rem;
  color: green;
}

.res-ratings-details .res-ratings,
.res-ratings-details .res-estimate {
  font-family: Gilroy_Bold;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.3px;
  color: rgba(2, 6, 12, 0.92);
}

.res-ratings {
  margin-right: 0.5rem;
}

.res-estimate {
  margin-right: 0.5rem;
}

.dot {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: rgb(60, 59, 59);
}

.res-address-details {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: start;
}

.side-tracker {
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
  margin-top: 5px;
}

.big-dot {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: rgb(183, 181, 181);
}

.connecting-line {
  width: 1px;
  height: 25px;
  background: rgb(183, 181, 181);
}

.res-address-details-text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.res-menu-list {
  position: relative;
  margin-top: 1rem;
  height: auto;
  display: flex;
  flex-direction: column;
}

.accordian {
  position: relative;
  display: flex;
  flex-direction: column;
}

.accordian-divider {
  position: relative;
  height: 1rem;
  background-color: #c8c3c3;
  border-radius: 15px;
}

.accordian-header {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.accordian-content {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-bottom: 2rem;
  border-bottom: 1px solid lightgray;
  padding-bottom: 1rem;
}

.open {
  display: block;
}

.closed {
  display: none;
}

.accordian-content:last-child {
  border-bottom: none;
}

.accordian-content-card {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 100%;
}

.accordian-content-text {
  position: relative;
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.dish-name {
  margin-bottom: 0.2rem;
}

.dish-name span {
  font-weight: bolder;
  font-size: 1.2rem;
}

.price-offer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  margin-bottom: 0.6rem;
}

.price-offer h3 {
  font-weight: 500;
  font-size: 1rem;
}

.offers {
  font-family: ProximaNovaCond_Extrabold;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.3px;
  color: rgba(2, 6, 12, 0.6);
}

.rating-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  font-size: 15px;
  margin-bottom: 0.6rem;
}

.accordian-content-image-holder {
  position: relative;
  width: 20%;
  height: 140px;
  border-radius: 15px;
}

.accordian-content-image-holder img {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
}

.link-no-style {
  text-decoration: none; /* Removes the underline */
  color: inherit;        /* Inherits the text color from the parent */
}
